<form [formGroup]="form">
  <div class="form-group">
    <label for="oldPWD">Old PASSWORD</label>
    <input formControlName="oldPWD" type="text" id="oldPWD" class="form-control">
    <div *ngIf="oldPWD.touched && oldPWD.invalid">
      <div *ngIf="oldPWD.errors.required" class="alert alert-danger">OLD password is required</div>
      <div *ngIf="oldPWD.errors.isIncorrectOLDPWD" class="alert alert-danger">OLD password is incorrect</div>
    </div>
  </div>
  <div class="form-group">
    <label for="newPWD">Old PASSWORD</label>
    <input formControlName="newPWD" type="text" id="newPWD" class="form-control">
    <div *ngIf="newPWD.touched && newPWD.invalid">
      <div *ngIf="newPWD.errors.required" class="alert alert-danger">NEW password is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="cnfPWD">Old PASSWORD</label>
    <input formControlName="cnfPWD" type="text" id="cnfPWD" class="form-control">
    <div *ngIf="cnfPWD.touched && cnfPWD.invalid">
      <div *ngIf="cnfPWD.errors.required" class="alert alert-danger">Confirm password is required</div>
    </div>
    <div *ngIf="cnfPWD.valid && form.invalid && form.errors && form.errors.passwordsShouldMatch" class="alert alert-danger">Confirm password is not same as new password</div>
    </div>
</form>